<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head xml:lang="en">
        <title dir="ltr" lang="en">LAV Library</title>
        <link rel="stylesheet" type="text/css" href="/global/css/lav.css" />
    </head>
     <body>
         <h1>{{title}}</h1>
         <table>
             <tr><th>Authors:</th><td>
                 <!-- loop authors -->
                 <a href="people/{{authors' key}}">{{authors' value}}</a>, 
                 <!-- endloop -->
             </td></tr>
         </table>
     </body>
</html>